$name: artcatalog;

.#{$name}-localation {
    position: absolute;
    bottom: 80px;
    right: 20px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);

    &:hover {
        .#{$name} {
            display: block;
        }
    }

    .#{$name} {
        display: none;
        position: absolute;
        right: 0;
        bottom: 100%;
        border-radius: 4px;
        background: #ffffff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    }
}

.#{$name}-icon {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/icon-catalog.svg) no-repeat;
    background-size: 100%;
}

.#{$name} {
    margin: 0;
    padding: 15px 15px 15px 30px;
    list-style: disc;
    overflow: auto;

    a {
        display: block;
        padding: 2px;
        text-decoration: none;
        color: #495060;

        &:hover {
            text-decoration: underline;
        }
    }
}